/// @type list

/// font
$font-main: 'Oswald','Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/// font's weights
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;


/// colors
/// @type Color
$color-1: #2b4362; //#0a0c18; // font
$color-2: #d6dde8; // font, background page
$color-3: #aec3d9;
$color-4: #f2f3f5;
$color-5: #f0f1f3;
$color-6: #0a0c18;
$color-7: #575c63;
$color-8: #bbbbbe;
$color-9: #e8e8e8;
$color-10: #afc0d7;
$color-11: #bbbfca;
$color-12: #e3caac;
$color-13: #deafa7;


/// margins

$gutter_base: 1em;
$gutter_base-less: 1em;
$gutter_base-more: 1.5em;


/// Container's maximum width
/// @type  Length
$page_width-max: 100%;

$basis-block-main: auto;
$basis-block-aside: 13rem;

$basis-card-main: 25%;
$basis-card-aside: auto;


//// @type Map
/// if 1rem = 16px => { 576px = 36em; 768px = 48em; 992px = 62em; 1200px = 75em; }
$media_queries-up: (
    'small': (
        "breakpoint": '(min-width: 36em)',
    ),
    'medium': (
        "breakpoint": '(min-width: 48em)',
    ),
    'large': (
        "breakpoint": '(min-width: 62em)',
	),
    'xlarge': (
        "breakpoint": '(min-width: 75em)',
    )
);







