.flash-cards {
	width: $page_width-max;
	margin:0 auto;
	&__container {
		background-color: darkgray;
	}
	&__about  {
		background-color: darksalmon;
	}
	&__deck-container {
		display: flex;
	}
	&__deck-main {
		background-color: darkkhaki;
		flex: 1 1 auto;

	}
	&__deck-aside {
		background-color: darkmagenta;
		flex: 0 0 $page_width-aside;
		display: flex;
		flex-direction: column;
		&--empty {
			display: none;	
		}
	}

}