.flash-cards {
	width: 100%;
	background-color: bisque;
}

.flash-cards {
	&__container {
		display: flex;
		background-color: cadetblue;
	}
	&__deck {
		display: flex;
		background-color: darkcyan;
		&--main {
			background-color: coral;
		}
		&--aside {
			background-color: crimson;
		}
	}//deck

	&__card {
		margin: 1em;
		padding: 1em;
		border: 1px solid darkblue;
		&-main {
			padding-bottom: 50px;

		}
		&--drop-zone {
			min-height: 50px;
			background-color: darkgoldenrod;
		}
	}
}
