.flash-cards {
	&__deck-main {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		gap: $gutter-base;
	}
	&__card {
		&-main {
			position: relative;
			display: flex;
			box-shadow: -2px 2px 2px 0px color.change($color-7, $alpha: 0.2);
		}
		&-info {
			display: flex;
			flex-direction: column;
			height: 100%;
			position: relative;
		}
		&-image {
			flex: 1 1 80%;
			position: relative;
			img {
				display: block;
				max-width: 100%;
			}
		}
		&-main-title {
			flex: 1 1 20%;
			min-height: 4rem;
			background-color: $color-1;
			color: $color-3;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: $gutter-base / 2;
			h3 {
				@include font($font-1, normal, $normal);
				font-size: 1.4rem;
			}	
		}
		&-description {
			position: absolute;
			//top: 100%;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 0;
			background-color:color.change($color-2, $alpha: 0.6);
			overflow: hidden;
			display: flex;
			
			
			
			figcaption {
				color:$color-6;
				margin: auto;
				background-color: color.change($color-3, $alpha: 0.5);
				
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				padding: 2em;
				box-shadow: -2px 0px 2px 0px color.change($color-7, $alpha: 0.2);
				
			}

			
			
		}
		
	}//card-main

	&__button-show-desc {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;
		display: none;
		cursor: pointer;
		border: none;
		background: transparent;
		opacity: 0;
		transition: all 0.2s linear;
		//background-color: $color-2;
		@include on_event_haf {
			outline:none;
			box-shadow: inset 0 -1px 0 0 $color-1;
		}
		
		.icon-book {
			stroke: $color-7;
			//fill: $color-7;
			width: 2.5em;
			height: 2.5em;
			vertical-align: middle;
		
		}
		&:hover .icon-book {
			stroke: $color-6;
			fill: $color-6;
		}
		
	}//button	
}//flash-cards




.flash-cards__card-main {
	&-title.is-matching {
		transform: scale(1.1);
		background-color: $color-6;
		position: relative;
		z-index: 100;
	}
	&-title.is-not-matching {		
		background-color: $color-9;	
	}
}

.flash-cards__card-main.is-paired {
	.flash-cards__button-show-desc {
		display: block;
		opacity: 1;
	}
	.flash-cards__card-main-title {
		background-color: $color-7;
		background-color: $color-3;
		color: $color-6;
	}
	
}


.flash-cards__card-description {
	&.is-visible {
		color: red;
		animation: show_desc 0.5s cubic-bezier(.68,-0.55,.27,1.55);
		animation-fill-mode: forwards;
	}
	&.is-hidden {
		animation: hide_desc 0.5s linear;
		animation-fill-mode: forwards;
	}

}


@keyframes show_desc {
	0% {
		top: 100%;
		height: 0;
	}
	100% {
		top: 0;
		height: 100%;
		z-index: 60;
	}
}
@keyframes hide_desc {
	0% {
		top: 0;
		height: 100%;
		z-index: 60;
	}
	100% {
		top: 100%;
		height: 0;
		//z-index: -1;
	}
}


