.flash-cards {
	&__deck-main {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		gap: $gutter-base;
	}
	&__card {
		&-main {
			position: relative;
			display: flex;
			box-shadow: 2px -1px 2px 0px color.change($color-7, $alpha: 0.2);
		}
		&-info {
			display: flex;
			flex-direction: column;
			height: 100%;
			position: relative;
		}
		&-image {
			flex: 1 1 80%;
			img {
				display: block;
				max-width: 100%;
			}
		}
		&-main-title {
			flex: 1 1 20%;
			min-height: 4rem;
			background-color: $color-1;
			color: $color-3;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: $gutter-base / 2;
			h3 {
				@include font($font-1, normal, $normal);
				font-size: 1.4rem;
			}	
		}
		&-description {
			position: absolute;
			top: 0;
			left: 100%;
			z-index: 10;
			width: 100%;
			height: 100%;
			display: flex;
			background-color: $color-7;
			
			
			figcaption {
				color: black;
				margin: auto;
				background-color: $color-4;
				opacity: 0.7;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				padding: 2em;
				
			}

			&.is-hidden {
				 z-index: -1;
				 left: 0;
			}
			
		}
		
	}//card-main

	&__button-show-desc {
		position: absolute;
		top: 50%;
		left: -0.7em;
		display: none;
		cursor: pointer;
		border: none;
		background: transparent;
		opacity: 0;
		transition: all 0.2s linear;
		@include on_event_haf {
			outline:none;
			box-shadow: inset 0 -1px 0 0 $color-1;
		}
		
		.icon-book {
			stroke: $color-1;
			fill: $color-3;
			width: 2em;
			height: 2em;
			vertical-align: middle;
		
		}
		span {
			display: none;
		}
		&:hover span, &:active span, &:focus span {
			display: inline;
			opacity: 1;
		}
	}//button	
}//flash-cards




.flash-cards__card-main {
	&-title.is-matching {
		transform: scale(1.1);
		background-color: $color-6;
		position: relative;
		z-index: 100;
	}
	&-title.is-not-matching {		
		background-color: $color-9;	
	}
}

.flash-cards__card-main.is-paired {
	.flash-cards__button-show-desc {
		display: block;
		opacity: 1;
	}
	.flash-cards__card-main-title {
		background-color: $color-7;
		color: $color-2;
	}
	
}



