.flash-cards {
	&__deck-aside {
		background-color: darkmagenta;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&--empty {
			display: none;	
		}
		&.is-top {
			justify-content: flex-start;
		}
		&.is-bottom {
			justify-content: flex-end;
		}
	}
	&__card-aside {
		background-color: floralwhite;
		
		margin: 1em 0;
		display: flex;
		align-items: center;
	}
}


body {
	overflow: auto;
}
