.flash-cards {
	&__deck-aside {
		position:fixed;
		top:1em;
		@supports ( position: sticky ) {
			position:sticky;
		}
	}
	&__card-aside {
		margin: $gutter_base 0;	
	}
	&__card-aside-title {
		margin:0;
		padding: 0;
		font-size: 1.2rem;
		@include font($font-main, normal, $font-normal);
		background-color: $color-1;
		color: $color-2;
		border-radius:0  0.25em 0.25em 0;
		padding:0.5em;
		margin: 0 0 0 1px;
		transition: all 0.3s linear;
		cursor: pointer;
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none;
		@include on_event_h {
			transform: scale(1.1);
			border-radius: 0.25em;
			box-shadow: 2px -1px 2px 0px color.change($color-7, $alpha: 0.5);
		}
		@include on_event_af() {
			border-radius: 0.25em;
			background-color: $color-3;
			color: $color-6;
			box-shadow: 2px -1px 2px 0px color.change($color-7, $alpha: 0.5);
		}
		&.is-matching {
			background-color: $color-6;
			color: $color-2;
			position: relative;
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 1em;
				height: 1em;
				background-color: $color-12;
				top: 0;
				right: 0;
				clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
			}
		}
		&.is-not-matching {
			background-color: $color-9;
			color:$color-3;
			transform: scale(1);
			box-shadow: none;
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 1em;
				height: 1em;
				background-color: $color-13;
				top: 2px;
				right: 2px;
				clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
			}
		}
	}
}



