.flash-cards {
	&__deck-main {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		gap: $gutter-base;
	}
	&__card {
		&-main {
			position: relative;
			display: flex;
			// &-inner {
			// 	position: relative;
				
			// }
		}
		&-info {
			display: flex;
			flex-direction: column;
			height: 100%;
			position: relative;
			
		}
		&-image {
			flex: 1 1 80%;
			img {
				display: block;
				max-width: 100%;
			}
		}
		&-title {
			flex: 1 1 20%;
			min-height: 4rem;
			background-color: $color-1;
			color: $color-3;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: $gutter-base / 2;
			h3 {
				font-weight: normal;
			}
			&.is-paired {
				background-color: $color-7;
				color: $color-2;
			}
		}
		&-description {
			flex: 1 1 50%;
			position: absolute;
			top: 0;
			left: 100%;
			z-index: 10;
			background-color: greenyellow;
			width: 100%;
			height: 100%;
			&.is-hidden {
				z-index: -1;
				left: 0;
			}
			
		}
		.flash-cards__button-show-desc {
			position: absolute;
			top: 50%;
			left: -0.7em;
			width: 1em;
			height: 1em;
			display: none;
			cursor: pointer;
			border: none;
			background: transparent;
			opacity: 0;
			transition: all 2s linear;
			
			.icon-book {
				stroke: $color-1;
				fill: $color-3;
				width: 2em;
				height: 2em;
			}
			span {
				position: absolute;
				top: -1em;
				left: -0.7em;
				display: none;
				opacity: 0;
			}
			&:hover span {
				display: block;
				opacity: 1;
			}
		}

		
	}	
}



.flash-cards__card-main {
	&.is-paired {
		.flash-cards__button-show-desc {
			display: block;
			opacity: 1;
		}
	}
}


.flash-cards__card {
	&--drop-zone.is-matching {
		transform: scale(1.1);
		background-color: $color-6;
		position: relative;
		z-index: 100;
	}
	&--drop-zone.is-not-matching {
		
		background-color: $color-9;
		
		
	}
}
