.flash-cards__information {
	&::after {
		display: block;
		content: '';
		border-bottom: 1px solid $color-6;
	}
	@include gutter(false);
	h2 {
		text-align: center;
		@include font($font-1, normal $normal);
	}
	p {
		@include gutter;
	}
}
.flash-cards__block-aside h2 {
	margin:0;
	padding:0;
	@include font($font-1, normal, $normal);
	text-align: right;
}