html {
	background-color: $color-2;
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
	margin:0;
	padding:0;
}
body {
	font-size: $font_size_base-small;
	line-height: $line_height-base;
	@include font ($font-main, normal, $normal);
	vertical-align: baseline;
	color: $color-1;
}
