body {
	font-size: 1rem;
	line-height: 1.4;
	vertical-align: baseline;
	color: $color-1;
	@include font( $font-main, normal, $light);
}
.flash-cards {
	&__header {
		h1 {
			font-weight: $normal;
			font-size: 2rem;
		}
	}
	&__menu {
		a {
			font-weight: $normal;
		}
	}
	&__information {
		h2 {
			font-weight: $normal;
			font-size: 1.6rem;
		}
	}
	&__card-main-title {
		h4 {
			font-weight: $normal;
			font-size: 1.4rem;
		}	
	}
	&__block-aside h3 {
		font-weight: $semi-bold;
		font-size: 1.6rem;
		line-height: 1.1;
	}
	&__card-aside-title {
		font-weight: $normal;
		font-size: 1.2rem;
		line-height: 1.1;
	}
}