.flash-cards {
	&__header {
		h1 {
			@include font ($font-1, normal, $normal);
			font-size: 2rem;
		}
	}
	&__information {
		h2 {
			@include font($font-1, normal $normal);
		}
	}
	&__card-main-title {
		h3 {
			@include font($font-1, normal, $normal);
			font-size: 1.4rem;
		}	
	}
	&__block-aside h2 {
		@include font($font-1, normal, $normal);
	}
	&__card-aside-title {
		@include font($font-main, normal, $normal);
		font-size: 1.2rem;
	}
}